body{
    background: #262626;
	


}
.box-area{
    display: flex;
    flex: wrap;
    justify-content: left;
    align-content: center;

}
.single-box{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: auto;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    margin: 100px;
    padding: 20px;
    transition: -3s;
}


.img-area{
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
border: 6px solid #ddd;
border-radius: 50%;
margin-bottom: 10px;
padding: 20px;
-wekbit-background-size:cover;
background-size: cover;
background-position: center center;
}

.img-area{
display: flex;
justify-content: center;
align-items: center;
width: 80px;
height: 80px;
border: 6px solid #ddd;
border-radius: 50%;
margin-bottom: 10px;
padding: 20px;
-wekbit-background-size:cover;
background-size: cover;
background-position: center center;
}  

.single-box:nth-child(1) .img-area{
    background-image: url(1.png);
}
.single-box:nth-child(2) .img-area{
    background-image: url(2.png);
}
.single-box:nth-child(3) .img-area{
    background-image: url(3.png);
}
.single-box:nth-child(4) .img-area{
    background-image: url(4.png);
}
.single-box:nth-child(5) .img-area{
    background-image: url(5.png);
}
.single-box:nth-child(6) .img-area{
    background-image: url(6.png);
}
.single-box:nth-child(7) .img-area{
    background-image: url(7.png);
}
.single-box:nth-child(8) .img-area{
    background-image: url(8.png);
}
.single-box:nth-child(9) .img-area{
    background-image: url(9.png);
}
.single-box:nth-child(10) .img-area{
    background-image: url(10.png);
}
.single-box:nth-child(11) .img-area{
    background-image: url(11.png);
}
.single-box:nth-child(12) .img-area{
    background-image: url(12.png);
}
.single-box:nth-child(13) .img-area{
    background-image: url(13.png);
}
.single-box:nth-child(14) .img-area{
    background-image: url(14.png);
}
.single-box:nth-child(15) .img-area{
    background-image: url(15.png);
}
.single-box:nth-child(16) .img-area{
    background-image: url(16.png);
}
.single-box:nth-child(17) .img-area{
    background-image: url(17.png);
}
.single-box:nth-child(18) .img-area{
    background-image: url(18.png);
}
.single-box:nth-child(19) .img-area{
    background-image: url(19.png);
}
.single-box:nth-child(20) .img-area{
    background-image: url(20.png);
}
.single-box:nth-child(21) .img-area{
    background-image: url(21.png);
}
.single-box:nth-child(22) .img-area{
    background-image: url(22.png);
}
.single-box:nth-child(23) .img-area{
    background-image: url(23.png);
}
.single-box:nth-child(24) .img-area{
    background-image: url(24.png);
}
.single-box:nth-child(25) .img-area{
    background-image: url(25.png);
}
.single-box:nth-child(26) .img-area{
    background-image: url(26.png);
}
.single-box:nth-child(27) .img-area{
    background-image: url(27.png);
}
.single-box:nth-child(28) .img-area{
    background-image: url(28.png);
}
.single-box:nth-child(29) .img-area{
    background-image: url(29.png);
}
.single-box:nth-child(30) .img-area{
    background-image: url(30.png);
}
.single-box:nth-child(31) .img-area{
    background-image: url(31.png);
}
.single-box:nth-child(32) .img-area{
    background-image: url(32.png);
}
.single-box:nth-child(33) .img-area{
    background-image: url(33.png);
}
.single-box:nth-child(34) .img-area{
    background-image: url(34.png);
}
.single-box:nth-child(35) .img-area{
    background-image: url(35.png);
}
.single-box:nth-child(36) .img-area{
    background-image: url(36.png);
}
.single-box:nth-child(37) .img-area{
    background-image: url(37.png);
}
.single-box:nth-child(38) .img-area{
    background-image: url(38.png);
}
.single-box:nth-child(39) .img-area{
    background-image: url(39.png);
}

.single-box :hover{
    background: #12c571;
    color: #eee;
}





.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.nav.active {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
  color: #000;
}

.nav.active .container {
  padding: 10px 0;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}
